{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
	<title>尚硅谷书城-用户中心</title>
{% endblock title %}

{% block body %}
					<style>
/* 下拉按钮样式 */
.dropbtn {
    
    border: none;
    cursor: pointer;
}

/* 容器 <div> - 需要定位下拉内容 */
.dropdown {
	width: 200px;
    position: relative;
    display: inline-block;
}

/* 下拉内容 (默认隐藏) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;

}
/* 在鼠标移上去后显示下拉菜单 */
.dropdown:hover .dropdown-content {
    display: block;
}


</style>

	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="{% url 'users:center' %}">· 个人信息</a></li>
				<li><a href="{% url 'users:order' %}">· 全部订单</a></li>
				<li><a href="{% url 'users:address' %}" class="active">· 收货地址</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
				<h3 class="common_title2">收货地址</h3>
				<div class="site_con">
					<dl>  
						<dt>当前地址：</dt>
						<dd>
							<span id="recv_name">收货人：{{ addr.recipient_name }} </span> 
							&nbsp;&nbsp;&nbsp;&nbsp;
							<span id="recv_addr">收货地址：{{ addr.recipient_addr }}</span>
							 &nbsp;&nbsp;&nbsp;&nbsp;
							 <span id="recv_phone">联系电话：{{ addr.recipient_phone }}</span>
						</dd>
					</dl>



<div class="dropdown">
  <button class="dropbtn">change address</button>
  <div class="dropdown-content">
  	{% for add in addr_li %}
  	<dd>
  		<span>收货人：{{ add.recipient_name }} </span> 
  		&nbsp;&nbsp;&nbsp;&nbsp;
  		<span>收货地址：{{ add.recipient_addr }} </span> 
  		&nbsp;&nbsp;&nbsp;&nbsp;
  		<span>联系电话：{{ add.recipient_phone }}</span>
  	</dd>
    {% endfor %}
  </div>
</div>
		</div>
			<h3 class="common_title2">编辑地址</h3>
				<!-- <form method="post" action="/users/address/"> -->
			{% csrf_token %}
			<div class="site_con">
				<div class="form_group">
				{% csrf_token %}
					<label>收件人：</label>
					<input type="text" name="username" id="user_name">
				</div>
				<div class="form_group form_group2">
					<label>详细地址：</label>
					<textarea class="site_area" id="addr" name="addr"></textarea>
				</div>
				<div class="form_group">
					<label>邮编：</label>
					<input type="text" name="zip_code" id="zip_code">
				</div>
				<div class="form_group">
					<label>手机：</label>
					<input type="text" name="phone" id="phone_num">
				</div>
				<div class="form_group">
					<label>set default：</label>
					<input type="checkbox" name="defult" id="checked" >
				</div>
				<input type="submit" name="" value="提交" class="info_submit" id="btn">
			</div>
				<!-- </form> -->
		</div>
	</div>

<script type="text/javascript">
	$('#btn').click( function() {
		recv_name = $('#user_name').val()
		addr = $('#addr').val()
		zip_code = $('#zip_code').val()
		phone_num = $('#phone_num').val()
		is_default = false
		console.log('recv_name:' + recv_name)
		csrf = $('input[name="csrfmiddlewaretoken"]').val();
		if ($('#checked').is(':checked')) {
			is_default = true
		}
		data = {
			'recipient_name':recv_name,
			'addr':addr,
			'zip_code':zip_code,
			'phone_num':phone_num,
			'is_default':is_default,
			'csrfmiddlewaretoken': csrf
		}
		console.log(data)
		$.post('/users/address/',data,function(res){
			if ( res.res=== 2 ) {
				$('#recv_name').html(recv_name)	
				$('#recv_addr').html(addr)	
				$('#recv_phone').html(phone_num)
			}else if(res.res === 1){
				alert(res.errmsg)
			}
	})
})
</script>	
{% endblock %}
